
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Young Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: hsl(330, 100%, 98%);
    font-family: 'Outfit';
}
.container {
    max-width: 60%;
  min-width: 60%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}


img {
    width: 100%;
    
    border-radius: 20px;
    margin-bottom: 10px;
    
}
h1 {
    font-family: "Young Serif", serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: hsl(212, 27%, 19%);
  margin-bottom: 0;
}
p {
  font-size: 16px;
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
}
.prep-time {
    background-color: hsl(323, 80%, 98%);
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
}
.prep-time h2 {
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', serif;
    font-weight: 500;
    
}
.prep-time ul {
    margin-top: 15px;
    
    padding-left: 20px;
    color: hsl(332, 51%, 32%);
}
.prep-time li {
  margin-bottom: 8px;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  padding-left: 10px;
}
.prep-time li::marker {
    color: hsl(332, 51%, 32%);
    
}
.prep-time li strong {
    margin-bottom: 8px;
  color: hsl(30, 10%, 34%);
  font-weight: 500;
  font-size: 16px;
}
.ingredients {
    margin-top: 30px;
    
}
.ingredients h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 500;
    font-size: 30px;
    
}
.ingredients ul {
    
  margin-left: 20px;
  margin-top: 15px;
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
    
}
.ingredients li {
    margin-bottom: 8px;
    padding-left: 10px;
    list-style: square;
    font-size: 16px;
}
.ingredients li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 12px;
}
hr {
    margin: 30px 0;
    border: none;
    height: 1.5px;
     background-color: hsl(0, 0%, 90%);
}
.instructions {
    margin-top: 30px;
}
.instructions h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 500;
    font-size: 30px;
}
.instructions ol {
    margin-top: 15px;
    padding-left: 20px;
    font-family: "Outfit", serif;
    color: hsl(30, 10%, 34%);
    font-size: 16px;
}
.instructions li {
    margin-bottom: 15px;
    padding-left: 15px;
}
.instructions li strong {
    font-weight: 500;
}
.instructions li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 16px;
    font-weight: 500;

}

.nutrition h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 500;
    font-size: 30px;
    margin: 20px 0;
}
.nutrition p {
    margin-bottom: 20px;
}
.nutrition ul {
    font-family: "Outfit", serif;
    color: hsl(30, 10%, 34%);
    list-style: none;
    
}
.nutrition li {
    font-size: 16px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.value {
    font-weight: 500;
  text-align: left;
  font-family: "Outfit", serif;
  color: hsl(14, 45%, 36%);
}
.label {
    font-size: 16px;
  color: hsl(30, 10%, 34%);
  width: 50%;
}